/*Google Font import - Name*/

/*
:root{

    /* ==== Colors ==== */


    /* ==== Transition ==== */


/*}

*/


header{
    background-color:rgb(215, 215, 2);
}

main{
    background-color:aquamarine;
}

footer{
    background-color: blueviolet;
}