/*Who am I? Section - Beginning*/

/*Structure Section*/
@import url(../base.css);
/*Quem sou section --> Begins*/
.quem-sou{
    background: rgba(0, 0, 0, 0.0);
    font-family: var(--font-raleway);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    height: auto;



}

.quem-sou__block{
    display: flex;
    flex-flow: wrap nowrap;
    flex-direction: center;
    align-items: center;

    width: 75vw;

    margin-bottom: 50px;
}
/*Quem Sou?  section --> Ends*/

/*
*
*
*
*/

/*Quem Sou? Info Section --> Begins*/
.info{
    background: none;
    color: var(--primary-text-color);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex;


    width: 60%;

}
.info__title{

    color: inherit;
    font-size: 3.25rem;
    font-weight: bold;

    margin-top:0;

}

.info__description{
    font-size: 1.357em;

    margin-top: 24px;

}

.info__list{
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


    font-family: inherit;

    margin-top: 24px;

    width: 70%;

}

.info__items{
    background: none;
    font-family: inherit;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;


}



.info__icon{
    background: url("../../image/svg/diagonal-arrow.svg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

    width: 1.0rem;
    height: 1.0rem;

    margin-left: 10px;

}

.info__hiperlink{
    background: none;
    color: inherit;


    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    border: none;

    text-decoration: none;
    font-family: inherit;
    text-transform: capitalize;
    font-size: 1em;
    font-weight:500;



}

/*Quem Sou? Info Section --> Ends*/

/*
*
*
*
*/

/*Quem Sou? Developer Section --> Begins*/
.developer{
    background: none;
  
    display: block;
    position:relative;

    width: 40%;
    
}

/*.developer:hover .developer__text{bottom: 0%; height: 100%;}*/

.developer__text{
    background: none;
    position: absolute;

    bottom: 100%;

    left: 0;
    right: 0;

    border-radius: 50%;

    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1.5s linear;


}

.developer__image{
    width: 90%;
    max-width: 1192px;
    height: auto;

    border-radius: 50%;

    opacity: 1.0;

    /*Test*/
    filter:blur(0px);
    filter:brightness(100%);
    filter:invert(0%);

}

.gi{
    white-space: nowrap;
    color: White;
    font-size: 2rem;

    position:absolute;
    overflow: hidden;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    
}
/*Quem Sou? Developer Section --> Ends*/