.info__icon{
    background: url("../../../image/svg/diagonal-arrow.svg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

    width: 1.0rem;
    height: 1.0rem;

    margin-left: 10px;

}