.info__hiperlink{
    background: none;
    color: inherit;


    display: flex;
    flex-direction: row-reverse;

    border: none;


    text-decoration: none;
    font-family: inherit;
    text-transform: capitalize;

    margin-right: 35px;



}


