.logo{
    /*Colors*/
    background: none;



    /*Layout Mode*/
        /*Flexbox*/
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: baseline;


    /*Dimension*/    

    /*Box Model*/



}

