@import url("../base.css");

/*Footer Section --> Begins */
.footer{
    background: var(--footer-background-color);
    color: var(--secondary-footer-text-color);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;


    height: 285px;

    font-family: var(--font-raleway);

}
/*
*
*
*
*/
/*Footer section info --> Begins*/
.footer__info{
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 36px 152px 0px 152px;
    width: 75vw;

}


.footer__info__title{
    font-size: 17px;
    font-weight: bold;

    margin-bottom: 7px;


}

/*Footer section info --> Ends*/

/*
*
*
*
*/

/*Footer section navigation --> Begins*/
.footer__nav__hiperlink{
    color: inherit;

    line-height: 19px;
    text-decoration: none;

}
/*Footer section navigation --> Ends*/

/*
*
*
*
*/

/*Footer section contact --> Begins*/
.footer__contact{
    margin-left: 59px;

}

.footer__contact__info{
line-height: 19px;

}

.footer__contact__hiperlink{
    color: var(--secondary-footer-text-color);
    text-decoration: none;



}
/*Footer section contact --> Ends*/

/*
*
*
*
*/

/*Footer section copyright --> Begins*/
.section__copyright{
    border-top: 2px solid var(--secondary-footer-text-color);
    border-radius: 20px;

    padding-top: 32px;
    padding-bottom: 32px;
    
    text-align: center;
    font: 1.0rem;

    width: 75vw;
}

.copyright__author{
    font-weight: bold;

}

.copyright__author-link{
    color: inherit;
    text-decoration: none;


}
/*Footer section copyright -->  Ends*/
/*
*
*
*
*/
/*Footer Section --> Ends */