.developer__image{
    width: 100%;
    max-width: 1192px;
    height: auto;

    border-radius: 50%;

    opacity: 1.0;

    /*Test*/
    filter:blur(0px);
    filter:brightness(100%);
    filter:invert(0%);

    


}

