/*Google Font import - Name*/
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    /* === Colors === */
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #003459;
    --footer-background-color: #00171F;
    --items-background-color: #ffffff;

    --primary-botton-color: #00A8E8;

    --primary-text-color: #464646; 
    --secondary-text-color: #fff;
    --third-text-color: #003459;

    --primary-footer-text-color: #FFFFFF;
    --secondary-footer-text-color: #b9b9b9;


    /* === Fonts === */
    --font-raleway: 'Raleway', sans-serif;


    /* ==== Transition ==== */

}


