@import url(./base.css);

body{
    /*Colors*/

    background-color:var(--background-color);

    display: block;
    max-width: auto;

    /*Text formatting*/

/*
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 1em;

*/
}