.header__navigation{
    /*Colors*/
    background: none;

    /*Layout Mode*/
         /*Flex-box*/
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;


}



.list__items__hiperlinks{
    /*Colors*/
    background: none;


    display: inline-block;
    
    /*box model*/   
    padding: 0px;
    border: 0px solid red;
    margin-right: 20px;

    /*Text Decoration*/


}

.navigation__list__hiperlinks {
    /*Colors*/
    background: none;
    color: var(--text-color);


    display: inline;

    /*Box Model*/
    padding: 0px 0px;
    border: 0px solid black;
    margin: 0px 0px;

    /*Text formatting*/
    text-decoration: none;


}

.email{
    
    /*Text Formatting*/
    font-weight: 700;

}

