@import url("../base.css");

.section-sobremim{
    background: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 1.0rem;
    font-family: var(--font-raleway);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    height: 100%;
    width: 100%;

}

.sobremim{
    width: 75vw;
}

.sobremim__title{
    background: none;

    text-align: left;

    font-size: 2.0rem;
    font-weight: bold;

    margin-top: 64px;
    margin-right: 23vw;
}

.sobremim-description{
    margin-right: 23vw;

}

.description__items{
    margin-top: 19px;

}

.description__items:last-child{
    background: none;
    margin-bottom: 132px;
    
    font-weight: 400;

}
