@import url("../base.css");

.section__hobbie{
    background: none;
    font-family: var(--font-raleway);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 350px;

}

.hobbie__title{
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    margin-top: 32px;
    margin-bottom: 32px;


}

.hobbie__group{
    background: none;
    opacity: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 88px;

    height: 174px;
    width: 75vw;
}

.hobbie__item{
    background: var(--items-background-color);
    color: var(--third-text-color);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    flex-basis: 70%;

    height: 100%; /*244px;*/    
    max-width: 100%;

    margin: 0px 0.3em 0px 0.3em;   

    border-radius: 9%;

}

.hobbie__item:first-child{
    margin: 0px 0.3em 0px 0em;

}

.hobbie__item:last-child{
    margin: 0px 0em 0px 0.3em;

}
.hobbie__item__title{
    margin-bottom: 16px;
    margin-left: 16px;

}

.uppercase{ 
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;

}


